




@media (max-width: 768px) {
  .send-voucher-payment {
    font-size: 15px !important;
    padding: 3px;
  }
}

@media (max-width: 576px) {


  .send-voucher-payment {
    padding: 3px;
    font-size: 16px !important;
  }
}