.send-voucher-payment {
  background: #e31fa8 !important;
  color: white;
  border: none;
  padding: 6px;
  border-radius: var(--radius-sm);
  font-size: 25px !important;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea268f !important;
}

.send-voucher-payment:hover {
  background: #b71b6e !important;
}


@media (max-width: 768px) {
  .send-voucher-payment {
    font-size: 15px !important;
    padding: 3px;
  }
}

@media (max-width: 576px) {


  .send-voucher-payment {
    padding: 3px;
    font-size: 16px !important;
  }
}