.student-detail-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f5f6fa;
}

.content-detail {
  flex-grow: 1;
  padding: 20px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto !important;
  height: 670px;
}

.dashboard-container-detail {
  display: flex;
  height: 670px !important;
}

.main-content {
  margin-top: 0px;

}

.perfil-container {
  width: 800px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 0px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 1000px;
}

.perfil-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.perfil-avatar {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-avatar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #D83D8D;
  border-radius: 50%;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perfil-info h2 {
  margin: 0;
  font-size: 35px;
  color: #333;
}

.btn-ver-cuotas {
  background-color: #D83D8D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn-ver-cuotas:hover {
  background-color: #c32a7b;
}

.perfil-form {
  display: flex;
  flex-direction: column !important;
  gap: 10px;
  height: 800px;
}

.perfil-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.perfil-comentario {
  width: 100%;
}

.perfil-row div {
  flex: 1;
  gap: 10px;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #D83D8D;
}

textarea {
  height: 60px;
}

.perfil-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.btn-editar,
.btn-eliminar {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn-editar {
  background-color: #D83D8D;
  color: white;
}

.btn-editar:hover {
  background-color: #c32a7b;
}

.btn-eliminar {
  background-color: #D83D8D;
  color: white;
}

.btn-eliminar:hover {
  background-color: #c32a7b;
}

@media (max-width: 576px) {

  .content-detail {
    margin-left: 0;
    padding: 10px;
  }

  .perfil-container {
    width: 100%;
    padding: 10px;
    height: auto;
  }

  .perfil-header {
    flex-direction: column;
    align-items: center;
  }

  .perfil-avatar {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .perfil-info h2 {
    font-size: 24px;
  }

  .btn-ver-cuotas {
    font-size: 16px;
    padding: 8px 16px;
  }

  .perfil-row {
    flex-direction: column;
  }

  .perfil-actions {
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .btn-editar,
  .btn-eliminar {
    width: 100%;
    font-size: 16px;
  }

  .perfil-form {
    height: auto;
    flex-direction: column;
  }
}