.student-container {
  display: flex;
}

.table-container {
  padding: 20px;
  flex-grow: 1;
}

.table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  max-width: 1200px; /* Opcional: establece un ancho máximo para la tabla */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  margin-bottom: 20px;
}

.table th,
.table td {
  text-align: center; /* Centra el texto en las celdas */
  vertical-align: middle; /* Centra el contenido verticalmente */
}
.table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-controls .mb-3 {
  flex-grow: 1;
  margin-right: 10px;
}

.form-control {
  margin-right: 0px;
}

.control-button {
  font-size: 20px !important;
  padding: 10px 20px !important;
  margin-top: 15px;
  width: 240px;
  height: 50px;
  background-color: #D83D8D;
  border-color: #D83D8D;
  display: flex; /* Asegura que el contenido esté en una fila */
  align-items: center; /* Alinea el contenido verticalmente en el centro */
  justify-content: center; /* Alinea el contenido horizontalmente en el centro */
  color: white; /* Asegura que el texto sea visible */
}

.control-button:hover {
  background-color: #D83D8D;
  border-color: #D83D8D;
}

.control-button.active, .control-button:focus {
  background-color: #D83D8D !important;
  border-color: #D83D8D !important;
}
.button-filter {
  display: flex; /* Asegura que el contenido esté en una fila */
  align-items: center; /* Alinea el contenido verticalmente en el centro */
  justify-content: center; /* Alinea el contenido horizontalmente en el centro */
}

.dropdown-toggle{
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: #D83D8D ;
  color: white;
  border-color: #D83D8D;
}

.dropdown-toggle:hover{
  background-color: #D83D8D ;
  border-color: #D83D8D;
}

.dropdown-toggle.active, .dropdown-toggle:focus{
  background-color: #D83D8D !important ;
  border-color: #D83D8D !important;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
  color: rgba(83, 189, 144, 1);
}

.status.active {
  background-color: rgba(83, 189, 144, 0.2);
}

.status-inactive {
  padding: 5px 10px;
  border-radius: 15px;
  color: rgba(225, 82, 107, 1);
}

.status-inactive.inactive {
  background-color: rgba(225, 82, 107, 0.2);
}

.titulo-panel-alumnos {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ffffff !important;
  background-color: #333 !important;
  border-color: #333 !important;
  border: 1px solid #333;
  border-radius: 0.25rem;
  text-decoration: none;
}

/* Estilos adicionales para el dropdown de filtro */
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px; /* Espaciado interno para que no se pegue al borde */
}

.dropdown-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  padding: 8px 12px; /* Más padding para mejor distribución */
  gap: 8px; /* Espacio entre checkbox y texto */
}

.dropdown-item input[type="checkbox"] {
  margin: 0; /* Remueve márgenes innecesarios */
  width: 16px;
  height: 16px;
}

.dropdown-item label {
  flex-grow: 1; /* Ocupa todo el ancho disponible */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

input {
  margin-right: 30px;
  display: flex;
  align-items: end !important;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-header {
  font-weight: bold;
  font-size: 16px;
  color: black;
  padding: 8px 12px;
  border-bottom: 1px solid #dee2e6;
  text-align: left; /* Alinea los encabezados a la izquierda */
}

.dropdown-divider {
  margin: 0.5rem 0;
  border-top: 1px solid #dee2e6;
}

.lupa {
  background-color: #D83D8D !important;
}

.boton-ver-mas {
  background-color: #D83D8D !important;
  border-color: #D83D8D !important;
  font-size: 18px;
}