.cuotas-filter {
  margin-bottom: 20px;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 0 10px;
}

.cuotas-table-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  flex: 1;
  overflow-x: auto;
  border-radius: var(--radius-md);
  box-shadow: var(--card-shadow);
  background: var(--card-bg);
}

.cuotas-table {
  width: 100%;
  border-collapse: collapse;
}

.cuotas-table th,
.cuotas-table td {
  padding: 12px 15px;
  text-align: center !important;
  font-size: 18px;
  color: var(--text-color);

}

.cuotas-table th {
  background: #ea268f !important;
  color: white !important;
  font-weight: 600;

}

.empty-table-message {
  text-align: center !important;
  font-size: 16px;
  color: #6c757d;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.cuotas-table tr {
  border-bottom: 1px solid var(--border-color);
  transition: var(--transition);
}

.cuotas-table tbody tr:hover {
  background: var(--background-alt);
}

.action-btn-share {
  background: #ea268f !important;
  color: white;
  border: none;
  padding: 6px;
  border-radius: var(--radius-sm);
  font-size: 25px !important;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-dashboard-share {
  font-size: 35px !important;
  font-weight: 800;
  color: #ea268f;
  position: relative;
  display: inline-block;
}

.title-dashboard-share::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #ea268f, #b71b6e);
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: -8px;

}
@keyframes underline-grow {
  from { width: 0; }
  to { width: 100%; }
}

.action-buttons-share {
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 576px) {
  .desktop-nav-header {
    display: none;
  }

  .cuotas-table th,
  .cuotas-table td {
    font-size: 13px;
    padding: 5px;
    border: none !important;
  }

  .action-btn-share {
    padding: 3px;
    font-size: 18px !important;
  }

  .checkbox-filters {
    display: flex;
    margin-top: 10px;
    width: 100% !important;
  }

  .filter-actions {
    display: flex;
    flex-wrap: wrap !important;
    margin: 0px;
    width: 100% !important;
  }

  .checkbox-custom {
    font-size: 11px !important;
    padding-left: 20px !important;
  }



  .cuotas-filter {
    margin-top: 10px;
  }

  .search-box {
    display: none;
  }

  .title-dashboard-share {
    font-size: 25px !important;
  }

  .action-buttons-share {
    padding: 4px !important;
  }
  
}