.main-container {
  display: flex;
  height: 100vh;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
}

.main-content{
  margin-top: 0px;
}

.dashboard-container-motion {
  display: flex;
  height: 670px !important;
}

.content-motion {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto !important;
  height: 670px;
}